@font-face {
    font-family: PFDinDisplayPro-Light;
    src: url(../fonts/PFDinDisplayPro-Light_gdi.eot);
    src: url(../fonts/PFDinDisplayPro-Light_gdi.woff) format('woff'), url(../fonts/PFDinDisplayPro-Light_gdi.eot?#iefix) format('embedded-opentype'), url(../fonts/PFDinDisplayPro-Light_gdi.ttf) format('truetype'), url(../fonts/PFDinDisplayPro-Light_gdi.otf) format('opentype'), url(../fonts/PFDinDisplayPro-Light_gdi.svg#PFDinDisplayPro-Light) format('svg');
    font-weight: 300;
    font-style: normal;
    unicode-range: U+0020-25CA
}
body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0
}
body {
    background: #e6e6e6;
    overflow: auto;
    font-family: PFDinDisplayPro-Light, Arial, sans-serif;
    color: #292b2c
}
button:focus {
    outline: 0;
    box-shadow: 0
}
ol,
ul {
    margin: 0;
    padding: 0
}
a,
a:focus,
a:hover {
    text-decoration: none
}
p {
    margin: 0;
    padding: 0
}
.layout {
    padding: 0 20px 50px 20px;
    font-size: 16px
}
.layout .logo {
	text-align: right;
}
.layout .logo-red {
    position: relative;
	display: inline-block;
    margin: 16px 0;
    width: 203px;
    height: 66px;
    background: url(../img/logo_page.png) no-repeat
}
.layout .logo-button {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url(../img/logo_min.png) no-repeat;
    background-size: cover;
    vertical-align: middle;
    margin-right: 6px;
    margin-top: -2px
}
.layout-content {
    background: #f3f3f3;
    padding: 17px 16px 16px
}
.layout-content p {
    padding-bottom: 6px
}
.layout-content .padding-text {
    display: inline-block;
    padding-bottom: 14px;
    font-size: 20px;
    line-height: 18px;
    vertical-align: middle
}
.layout-content .icon {
    display: inline-block;
    width: 32px;
    height: 25px;
    background: url(../img/sprites.png) -65px -135px no-repeat
}
.layout-content .summ {
    margin-top: 20px
}
.layout-content .button-red {
    display: block;
    margin: 32px auto;
    border-radius: 4px;
    text-align: center;
    padding: 0 .8em;
    height: 42px;
    line-height: 42px;
    background-color: #cd242f;
    color: #fff;
    font-size: 16px;
    border: 0;
    max-width: 200px;
}
.layout .footer {
    font-size: 0
}
.layout .footer .app {
    width: 50%;
    display: inline-block;
    padding-top: 16px;
    text-align: left
}
.layout .footer .app a {
    height: 41px;
    width: 124px;
    display: inline-block
}
.layout .footer .app-android {
    background: url(../img/sprites.png) 0 0 no-repeat;
    margin-right: 6px
}
.layout .footer .app-appstore {
    background: url(../img/sprites.png) -128px 0 no-repeat
}
@media screen and (max-width: 650px) {
    .layout .footer .app {
        width: 100%;
        text-align: center
    }
}
.layout .footer .social {
    width: 50%;
    display: inline-block;
    padding-top: 16px;
    text-align: right
}
.layout .footer .social .icon {
    width: 36px;
    height: 36px;
    margin-right: 2px;
    display: inline-block;
    background: url(../img/sprites.png) no-repeat
}
.layout .footer .social .icon.icon-vk {
    background-position: 0 -83px
}
.layout .footer .social .icon.icon-facebook {
    background-position: -210px -83px;
    margin-right: 3px
}
.layout .footer .social .icon.icon-inst {
    background-position: -84px -83px
}
.layout .footer .social .icon.icon-yortube {
    background-position: -168px -83px
}
@media screen and (max-width: 650px) {
    .layout .footer .social {
        width: 100%;
        text-align: center
    }
}
@media screen and (max-width: 768px) {
    .layout {
        padding: 0 5px 50px 5px
    }
}
